@font-face {
  font-family: "snellBT";
  src: url("/fonts/snellBT-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "snellBT";
  src: url("/fonts/snellBT-Bold.woff") format("woff");
  font-weight: bold;
}

:root {
  font-family: "Noto Serif KR", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --margin-top: 50px;
  --gray-color: #a7a7a7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: 0;
  color: black;
  background: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

.cursive {
  font-family: "snellBT", cursive;
}
